# **Medical Cost Personal Datasets**

# **Import Library**

In [7]:
import pandas as pd

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Data Frame**

In [13]:
path ="/content/drive/MyDrive/praktikum avd/insurance.csv"

df = pd.read_csv(path)

df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
df.head(20)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500
19   30    male  35.300         0    yes  southwest  36837.46700

In [14]:
df.tail(20)

      age     sex     bmi  children smoker     region      charges
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

# **Business Understading**

# **Study Case**

perusahaan asuransi kesehatan mengalami kerugian besar karena sistem yang tidak akurat. berdasarkan analisis dataset yang berisis 1.338 pemegang polis, ditemukan bahwa pelanggan perokok dikenakan biaya aktual yang harus dikeluarkan oleh perusahaan asuransi dan hal ini menyebabkan kerugian besar bagi perusahaan ini sebanyak jutaan rupiah tiap tahunnya karena harus menanggung banyak biasa kesehatan.
contohnya adalah ada beberapa pelanggan perokok yang tidak sehat (seperti sering masuk rumah sakit) biaya kesehatan yang sangat tinggi sehingga perusahaan asuransi mengalami kerugian karena tiap tahunnya membayar biaya kesehatan sangat mahal. disisi lain terdapat anak muda yang tidak merokok dengan hidup sehat, hampir tidak mengeklaim asuransi. tetapi perusahaan asuransi menagih hampir sama seperti perokok tersebut, sehinngga anak muda tersebut merasa rugi dan akhirnnya pindah ke perusahaan asuransi yang harganya lebih murah. hal ini karena perusahaan asuransi ini tidak memperhitungkan perbedaaan resiko kesehatan setiap orang secara detail dan memukul rata setiap orang.

# **Business Objective **

Dengan tunjuan ini kita harus membuat model machine learning yang bisa memprediksikan biaya asuransi dengan akurat setiap profil orang yang mengeklaim asuransi pada perusahaan ini. model ini akan menggunakan data seperti usia, jenis kelamin, BMI, jumlah anak, status merokok, dan wilayah untuk memprediksi berapa biaya asuransi yang seharusnya dibayar. Dengan ini perusahaan asuransi bisa memberikan harga adil terhhadap pelanggan.
Dan keberhasilan ini diukur dari peningkatan akurasi prediksi, pengurangan kerugian perusahaan dan meningkatkan kerugian pelanggan.

# **Asess Situation**

Dataset yang berisi 1.338  data pemegang polis dengan 7 variabel yaitu usia, jenis kelamin, BMI, jumlah anak, status merokok, wilayah, dan biaya asuransi. kualitas data ini sangat baik dengan kelengkapan 100 persen Sekitar 20 persen pelanggan adalah perokok dan lebih dari setengahnya tidak sehat.

# **Anallytic Goals dan Project  Plan**

**ANALYTIC GOALS**
1. Membangun model machine learning untuk memprediksi biaya asuransi kesehatan dengan akurasi tinggi.
2. Target akurasi minimal 85 persen dengan tingkat kesalahan rendah.
Mengidentifikasi.
3. Faktor-faktor yang paling berpengaruh terhadap biaya asuransi (status merokok, usia, BMI).
4. Membantu perusahaan memahami profil risiko pelanggan untuk keputusan pricing yang lebih baik.

**PROJECT PLAN**
1. Business Understanding
Memahami masalah bisnis dan tujuan proyek.
2. Data Understanding
Eksplorasi, visualisasi, dan analisis awal data.
3. Data Preparation
Cleaning data dan feature engineering.
4. Modeling
Membangun dan tuning model machine learning.
5. Evaluation
Evaluasi performa dan pilih model terbaik.
6. Deployment
Implementasi model dan monitoring sistem.